<a href="https://colab.research.google.com/github/UniqueCODER/AlgorithmsPython/blob/master/Botnoi_ChatAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import LIBRARIES

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import tldextract

In [2]:
!pip install tldextract

Requirement already satisfied: tldextract in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from tldextract) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from tldextract) (2.10)
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from tldextract) (2.23.0)
Requirement already satisfied: requests-file>=1.4 in /usr/local/lib/python3.7/dist-packages (from tldextract) (1.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->tldextract) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->tldextract) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->tldextract) (3.0.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from requests-file>=1.4->tldextract) (1.15.0)

In [3]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [4]:
worksheet = gc.open('botnoi_survey1').sheet1

rows = worksheet.get_all_values()
df = pd.DataFrame.from_records(rows)

In [5]:
df.head()

    0                                1   ...                24                25
0  SNO                               P1  ...          START_AT            END_AT
1    1          Is an elementary school  ...
2    2  Is a junior high school student  ...  2022-01-28 19:04  2022-01-28 19:05
3    3  Is a junior high school student  ...  2022-01-28 19:04  2022-01-28 19:05
4    4  Is a junior high school student  ...  2022-01-28 19:04  2022-01-28 19:06

[5 rows x 26 columns]

In [7]:
df.tail(
  
)

          0   ...                25
32029  32029  ...  2022-01-31 23:25
32030  32030  ...  2022-01-31 23:32
32031  32031  ...  2022-01-31 23:44
32032  32032  ...  2022-01-31 23:45
32033  32033  ...  2022-01-31 23:51

[5 rows x 26 columns]

In [13]:
import re as re
def search_words(text):
    result = re.findall(r'\b[high school|junior|elementary|university|work|student]+\b', text)
    return " ".join(result)

In [14]:
df[1]=df[1].apply(lambda x : search_words(x))
print(df)

          0                             1   ...                24                25
0        SNO                                ...          START_AT            END_AT
1          1          an elementary school  ...
2          2  a junior high school student  ...  2022-01-28 19:04  2022-01-28 19:05
3          3  a junior high school student  ...  2022-01-28 19:04  2022-01-28 19:05
4          4  a junior high school student  ...  2022-01-28 19:04  2022-01-28 19:06
...      ...                           ...  ...               ...               ...
32029  32029  a junior high school student  ...  2022-01-31 23:23  2022-01-31 23:25
32030  32030         a high school student  ...  2022-01-31 23:31  2022-01-31 23:32
32031  32031  a junior high school student  ...  2022-01-31 23:43  2022-01-31 23:44
32032  32032         a high school student  ...  2022-01-31 23:43  2022-01-31 23:45
32033  32033          a university student  ...  2022-01-31 23:48  2022-01-31 23:51

[32034 rows x 26 columns]

In [15]:
df[1].value_counts()

a junior high school student    13313
an elementary school            12458
a high school student            4228
                                 1080
a university student              955
Name: 1, dtype: int64