# **Import Libraries**
- pandas 
- matplotlib
- numpy

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# **Access Sheet 2**
- Gather sheet2, understand the data before doing anything

In [2]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [3]:
worksheet = gc.open('depression_dataset1').sheet1

rows = worksheet.get_all_values()
df = pd.DataFrame.from_records(rows)

**Understanding Data sets based on questions**
- What question recorded the highest score in respect to score range?
- What certain time/s ranges records the highest/lowest numbers of user?

# **DATA CLEANING**
- Remove brackets from Status Column
- Remove keys from Dictionary gathered from quiz results columns

In [4]:
df[1] = df[1].str.strip('{}').str.replace('de_',"")
df[3] = df[3].str.strip('{}').str.replace(':',"")
df[3] =df[3].str.replace(r'\'d_[0-9]\' ','',regex=True)
df

                               0        1  ...           4   5
0     35db89be8c66053330fd5eb1cf     high  ...  1639075476  12
1     4d9114df82d60da11706c9b28d  serious  ...  1639076583  29
2     8c033ba10bf480a2bb72597fe9     high  ...  1639076859  22
3     8a8b3a5b559ff2f49463e03429     high  ...  1639077081  12
4     d8c3248e9c0e2677c42af14337     high  ...  1639077566  16
...                          ...      ...  ...         ...  ..
1353  cf7eac02ddbdc62647b85a0d37   medium  ...  1641264328  41
1354  9a0eae7f5ab1b19667f845585c     high  ...  1641265419  28
1355  83a417cd6716cf9f3740bbae14     high  ...  1641268723  24
1356  6640b1ce836350add64660a8fb   medium  ...  1641271244  11
1357  0a14358c693cd63e9c46133c51  serious  ...  1641271957  16

[1358 rows x 6 columns]

In [5]:
df[3] = df[3].str.strip('{}').str.replace(':',"")

In [6]:
df3 = df[3]
df3=  df3.str.split(',', expand=True)
df3

      0   1   2   3   4   5   6   7   8
0     2   3   1   3   3   3   3   3   3
1     2   2   1   3   2   1   2   3   0
2     1   2   3   3   3   3   2   1   2
3     2   3   2   3   3   3   2   1   3
4     1   3   3   2   2   3   2   2   2
...  ..  ..  ..  ..  ..  ..  ..  ..  ..
1353  3   1   1   0   2   3   0   3   0
1354  2   3   2   2   3   3   3   2   3
1355  3   3   3   3   3   3   3   3   3
1356  2   1   1   1   1   3   2   1   1
1357  1   2   2   3   2   2   2   2   0

[1358 rows x 9 columns]

In [7]:
for i in df3.columns:
  df3[i] = df3[i].astype(int)

df

                               0        1  ...           4   5
0     35db89be8c66053330fd5eb1cf     high  ...  1639075476  12
1     4d9114df82d60da11706c9b28d  serious  ...  1639076583  29
2     8c033ba10bf480a2bb72597fe9     high  ...  1639076859  22
3     8a8b3a5b559ff2f49463e03429     high  ...  1639077081  12
4     d8c3248e9c0e2677c42af14337     high  ...  1639077566  16
...                          ...      ...  ...         ...  ..
1353  cf7eac02ddbdc62647b85a0d37   medium  ...  1641264328  41
1354  9a0eae7f5ab1b19667f845585c     high  ...  1641265419  28
1355  83a417cd6716cf9f3740bbae14     high  ...  1641268723  24
1356  6640b1ce836350add64660a8fb   medium  ...  1641271244  11
1357  0a14358c693cd63e9c46133c51  serious  ...  1641271957  16

[1358 rows x 6 columns]

In [8]:

df2 = pd.concat([df,df3], axis=1)
df2

                               0        1   2  ...  6  7  8
0     35db89be8c66053330fd5eb1cf     high  24  ...  3  3  3
1     4d9114df82d60da11706c9b28d  serious  16  ...  2  3  0
2     8c033ba10bf480a2bb72597fe9     high  20  ...  2  1  2
3     8a8b3a5b559ff2f49463e03429     high  22  ...  2  1  3
4     d8c3248e9c0e2677c42af14337     high  20  ...  2  2  2
...                          ...      ...  ..  ... .. .. ..
1353  cf7eac02ddbdc62647b85a0d37   medium  13  ...  0  3  0
1354  9a0eae7f5ab1b19667f845585c     high  23  ...  3  2  3
1355  83a417cd6716cf9f3740bbae14     high  27  ...  3  3  3
1356  6640b1ce836350add64660a8fb   medium  13  ...  2  1  1
1357  0a14358c693cd63e9c46133c51  serious  16  ...  2  2  0

[1358 rows x 15 columns]

In [9]:
df2 = df2.set_axis(['ID', 'Status', 'score',  'quiz','Timestamp','counts', 'Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9'], axis=1, inplace=False)
df2

                              ID   Status score  ... Q7 Q8 Q9
0     35db89be8c66053330fd5eb1cf     high    24  ...  3  3  3
1     4d9114df82d60da11706c9b28d  serious    16  ...  2  3  0
2     8c033ba10bf480a2bb72597fe9     high    20  ...  2  1  2
3     8a8b3a5b559ff2f49463e03429     high    22  ...  2  1  3
4     d8c3248e9c0e2677c42af14337     high    20  ...  2  2  2
...                          ...      ...   ...  ... .. .. ..
1353  cf7eac02ddbdc62647b85a0d37   medium    13  ...  0  3  0
1354  9a0eae7f5ab1b19667f845585c     high    23  ...  3  2  3
1355  83a417cd6716cf9f3740bbae14     high    27  ...  3  3  3
1356  6640b1ce836350add64660a8fb   medium    13  ...  2  1  1
1357  0a14358c693cd63e9c46133c51  serious    16  ...  2  2  0

[1358 rows x 15 columns]

In [10]:
del df2['quiz']
df2

                              ID   Status score   Timestamp  ... Q6  Q7  Q8  Q9
0     35db89be8c66053330fd5eb1cf     high    24  1639075476  ...  3   3   3   3
1     4d9114df82d60da11706c9b28d  serious    16  1639076583  ...  1   2   3   0
2     8c033ba10bf480a2bb72597fe9     high    20  1639076859  ...  3   2   1   2
3     8a8b3a5b559ff2f49463e03429     high    22  1639077081  ...  3   2   1   3
4     d8c3248e9c0e2677c42af14337     high    20  1639077566  ...  3   2   2   2
...                          ...      ...   ...         ...  ... ..  ..  ..  ..
1353  cf7eac02ddbdc62647b85a0d37   medium    13  1641264328  ...  3   0   3   0
1354  9a0eae7f5ab1b19667f845585c     high    23  1641265419  ...  3   3   2   3
1355  83a417cd6716cf9f3740bbae14     high    27  1641268723  ...  3   3   3   3
1356  6640b1ce836350add64660a8fb   medium    13  1641271244  ...  3   2   1   1
1357  0a14358c693cd63e9c46133c51  serious    16  1641271957  ...  2   2   2   0

[1358 rows x 14 columns]

In [11]:
#from google.colab import drive
#drive.mount('/content/drive')

In [12]:
s = df2['Status'].unique()
s

array(['high', 'serious', 'medium', 'mild', 'none'], dtype=object)

In [13]:
columns = ['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9']
df3 = df2[columns]
df3

      Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9
0      2   3   1   3   3   3   3   3   3
1      2   2   1   3   2   1   2   3   0
2      1   2   3   3   3   3   2   1   2
3      2   3   2   3   3   3   2   1   3
4      1   3   3   2   2   3   2   2   2
...   ..  ..  ..  ..  ..  ..  ..  ..  ..
1353   3   1   1   0   2   3   0   3   0
1354   2   3   2   2   3   3   3   2   3
1355   3   3   3   3   3   3   3   3   3
1356   2   1   1   1   1   3   2   1   1
1357   1   2   2   3   2   2   2   2   0

[1358 rows x 9 columns]

In [14]:
counts = df3
counts1['frequency'] = counts[columns].sum(axis=1)
#counts12 = pd.DataFrame(counts1.groupby(['frequency']).size())
counts1

NameError: ignored

In [ ]:
count_q1 = counts['Q1'].value_counts().astype(int)
count_q1.plot(kind="bar")

plt.title("Question 1 Frequency")
plt.show

In [ ]:
count_q2 = counts['Q2'].value_counts().astype(int)
count_q2.plot(kind="bar")

plt.title("Question 2 Frequency")

In [ ]:
count_q3 = counts['Q3'].value_counts().astype(int)
count_q3.plot(kind="bar")

plt.title("Question 3 Frequency")

In [ ]:
count_q4 = counts['Q4'].value_counts().astype(int)
count_q4.plot(kind="bar")

plt.title("Question 4 Frequency")

In [ ]:
count_q5 = counts['Q5'].value_counts().astype(int)
count_q5.plot(kind="bar")

plt.title("Question 5 Frequency")

In [ ]:
count_q6 = counts['Q6'].value_counts().astype(int)
count_q6.plot(kind="bar")

plt.title("Question 6 Frequency")

In [ ]:
count_q7 = counts['Q7'].value_counts().astype(int)
count_q7.plot(kind="bar")

plt.title("Question 7 Frequency")

In [ ]:
count_q8 = counts['Q8'].value_counts().astype(int)
count_q8.plot(kind="bar")

plt.title("Question 8 Frequency")

In [ ]:
count_q9 = counts['Q9'].value_counts().astype(int)
count_q9.plot(kind="bar")

plt.title("Question 9 Frequency")

In [ ]:

count_quiz = pd.concat([count_q1, count_q2,count_q3,count_q4, count_q5,count_q6,count_q7, count_q8,count_q9], axis=1)
count_quiz.plot(kind="bar")

plt.title("Quizzes comparison Frequency")

In [ ]:
df4=pd.DataFrame(df3.sum(axis = 0, skipna = True)).rename(columns={'':'index','' : 'total',0 : 'x'})
df4.columns

In [ ]:
df4.plot(kind="pie")
plt.title("Botnoi Survey")
#sns.catplot(x=df4[0], y=df4[1], kind="point", data=df4)

**Repacking Timestamp**
- Getting values from timestamps 
- Isolating in dataframe the necessary ones

In [ ]:
import datetime as dt
data_time = df2['Timestamp']
data_time = pd.to_datetime(data_time, unit='s')
data_time=  data_time.dt.tz_localize('UTC').dt.tz_convert('Asia/Bangkok')
data_time = pd.DataFrame(data_time)
data_time.columns.rename("timestamp")
df2.columns

In [ ]:
df2.columns

In [ ]:
data_time.columns

In [ ]:
data_time['year'] = data_time['Timestamp'].dt.year
data_time['month'] = data_time['Timestamp'].dt.month
data_time['day'] = data_time['Timestamp'].dt.day
data_time['hour'] = data_time['Timestamp'].dt.hour
data_time['minute'] = data_time['Timestamp'].dt.minute
data_time['dayofweek'] = data_time['Timestamp'].dt.dayofweek
data_time

In [ ]:

hour = pd.DataFrame(data_time.groupby('hour').size())
hour['time'] = ['12AM', '1AM','2AM', '3AM','4AM', '5AM','6AM', '7AM','8AM', '9AM','10AM', '11AM','12PM', '1PM','2PM', '3PM','4PM', '5PM','6PM', '7PM','8PM', '9PM','10PM', '11PM']
hour.columns=['time','hour']
hour_am = pd.DataFrame(hour[0:12])
hour_pm = pd.DataFrame(hour[12:24])
print(hour)
hour_am.columns

In [ ]:
sns.catplot(x="time", y="hour", palette="ch:2,r=.2,l=.7",kind="bar", data=hour_am)

In [ ]:
sns.catplot(x="time", y="hour",palette="ch:3,r=.2,l=.7", kind="bar", data=hour_pm)

In [ ]:
day = pd.DataFrame(data_time.groupby('day').size())
print(day)

In [ ]:
dayofweek = pd.DataFrame(data_time.groupby('dayofweek').size())
days= ['MON','TUE','WED','THU','FRI','SAT','SUN']
dayofweek['days'] = days
dayofweek.columns=['freq','days']

sns.catplot(x="days", y="freq", kind="point", data=dayofweek)

In [ ]:
status_time = pd.concat([df2['Status'], data_time['hour']], axis=1)

status_time.columns

In [ ]:
#stat.columns['hours','frequency']
stat = pd.DataFrame(status_time.groupby(['hour','Status']).size().reset_index())
fig, ax = plt.subplots(figsize=(15,7))
stat.groupby(['hour','Status']).sum()[0].unstack().plot(ax=ax)
ax.set_xlabel('Hour')
ax.set_ylabel('Status')

In [ ]:
#sns.catplot(x="Status", y="hour", hue=0, kind="point", data=stat)
sns.catplot(x="Status", y="hour", hue=0,
             aspect=.7,
            kind="swarm", data=stat)

In [ ]:

stat1 = pd.DataFrame(status_time.groupby(['hour','Status']).size().reset_index().rename(columns={'hour':'hours','Status' : 'status',0 : 'x'})).fillna(0)
stat0 = stat1[0:20]



sns.catplot(x="status", y="x", hue="hours", kind="point", data=stat0)

In [ ]:
stat1[0:20]

In [ ]:
stat2 = stat1[20:49]
stat2

In [ ]:
stat2 = stat1[20:47]
sns.catplot(x="status", y="x", hue="hours", kind="point", data=stat2)

In [ ]:
stat3 = stat1[48:78]
sns.catplot(x="status", y="x", hue="hours", kind="point", data=stat3)

In [ ]:
stat3 = stat1[48:78]

stat3

In [ ]:
stat4 = stat1[78:109]

stat4

In [ ]:
sns.catplot(x="status", y="x", hue="hours", kind="point", data=stat4)