<a href="https://colab.research.google.com/github/UniqueCODER/AlgorithmsPython/blob/master/music_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from google.colab import drive
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!ls "/content/drive/MyDrive/Colab Notebooks/Portfolio/MACHINE LEARNING"

ml_datainternship1.ipynb  music.csv  music_ml.ipynb  vgsales.csv

In [4]:
music_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Portfolio/MACHINE LEARNING/music.csv')

In [5]:
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [6]:
music_data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [33]:
#sample dropping of columns
y = music_data['genre']
X = music_data.drop(columns=['genre'])

X_train, X_test, y_train, y_test = train_test_split(X.values,y, test_size=0.2)

# **Learning and Predicting**

We will use Decision Tree algorithm

In [46]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
score = accuracy_score(y_test,predictions)
score

1.0

# **Splitting DataSet**
- Splitting Data into 2 parts for Training and Testing

P.S. Please clean the data depending on the problem you want to solve and see the difference when you are actually training the data

In [38]:
model = joblib.load( 'music_reccomender.joblib')
predictions = model.predict([[21,1]])
predictions

array(['HipHop'], dtype=object)

In [45]:
tree.export_graphviz(model, out_file='music_recommender.dot', feature_names=['age','gender'],
                     class_names=sorted(y.unique()), label='all', rounded=True,filled=True)